@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: black;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
}

section {
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #CCFF00;
    mix-blend-mode: plus-lighter;
    border-radius: 10px;
    padding: 20px 30px;
    width: 500px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box .all-data-filed{
background: #ffffff8f;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}
.box .all-data-filed .data-filed {
    display: flex;
    justify-content: center;
    width: 100%;
        margin: 25px 0px;

}

.box .all-data-filed .data-filed p.title {
    font-weight: bold;
    width: 50%;
}

.box .all-data-filed .data-filed p {
    padding: 10px 20px;
    width: 50%;

}

button {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.827);
    color: #CCFF00;
    font-weight: 700;
}

svg {
    z-index: 0;
    margin-top: -80px;
    height: 100px;
    /* transform: translate(0%, -200%); */
    background: white;
    border-radius: 50%;
    padding: 10px;
}